body {
  background-color: #222;
  color: white;
  font-family: "Gill Sans", sans-serif;
}

.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mid {
  flex-direction: row;
  display: flex;
}

h1,
h4,
pre {
  max-width: 900px;
  white-space: pre-wrap;
}

pre {
  padding: 12px;
}
